{% extends 'base.html' %}
{% load static %}

{% block content %}

   <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'website/images/pay1.jpg' %}');" data-stellar-background-ratio="0.5"> 
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread" style="color:black;">Payment Page</h1>
          </div>
        </div>
      </div>
    </section>


    <br>
    <div>
      <center>
        {% for i in messages%}
        <h1 style="padding: 100px;"><b>Error: {{i}}</b></h1>
        {% endfor %}
      </center>
    </div>
    <br>

    {% if fname %}
            <h3 style="color: black">Billing Address {{fname}}</h3>

    {% else %}

            <h3 style="color: black">Down</h3>

    {% endif %}
    <form action="{% url 'payment' %}" method="post">
        {%csrf_token%}
        <div class="div3">
        <div class="row3">
       
          <div class="col3-50">

            <h3 style="color: black">Billing Address</h3>

            <br>
            <label style="color: black"><i class="fa fa-user" style="color: black"></i> Full Name</label>
            <input type="text" name="fullname" placeholder="XYZ">

            <label for="email" style="color: black"><i class="fa fa-envelope" style="color: black"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="xyz@example.com">
            
            <label for="city" style="color: black"><i class="fa fa-institution" style="color: black"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Mumbai">

            <div class="row3">
              <div class="col3-50">
                <label for="state" style="color: black">State</label>
                <input type="text" id="state" name="state" placeholder="MH">
              </div>
              <div class="col3-50">
                <label for="zip" style="color: black">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col3-50">
            <h3 style="color: black">Payment</h3>
            <br>
            
           
            <label for="cname" style="color: black">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="XYZ">
            <label for="ccnum" style="color: black">Credit card number</label>
            <input type="password" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth" style="color: black">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">
            <div class="row3">
              <div class="col3-50">
                <label for="expyear" style="color: black">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2028">
              </div>
              <div class="col3-50">
                <label for="cvv" style="color: black">CVV</label>
                <input type="password" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
        </div>

       <!--  <input href="{% url 'report' %}" type="submit" value="Make Payment" class="btn3">
        <br> -->
        <input href="{% url 'report' %}" type="submit" value="Make Payment" class="btn3">
       </div> 
      </form>
      <br>
{% endblock %}